<nav class="site-nav">
  <div class="logo">
    yongcheng zhou's site
  </div>
  <div class="links">
    <a href="/">Home</a>
    <a href="/sample">Sample</a>
    <a href="/about"> About</a>
    <a href="/projects"> Project</a>

  </div>
</nav>