<nav class="site-nav">
  <div class="logo">
    yongcheng zhou's site
  </div>
  <div class="links">
    <a href="/">Home</a>
    <a href="/">Sample</a>
    <a href="/"> About</a>
    <a href="/"> Project</a>

  </div>
</nav>

<div class="project"></div>